body {
  margin: 0;
  paddin: 0;
  text-align: right;
  background-image: url("./img/back.png");
  font-family: sans-serif;
}

#wrapper {
  width: 100%;
  height: 100%;
}

p {
  margin: 8px 0 0 0;
}

.container {
  position: relative;
  display: block;
  width: 30%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.page-name {
  text-align: center;
}

.calculator {
  background-color: white;
  padding: 30px 20px;
  box-shadow: 5px 5px 5px lightgrey;
}

input, button {
  font-size: 16px;
  box-shadow: none;
  outline: none;
  margin: 0;
}

button {
  border: none;
}

.input-bar-text {
  position: relative;
  display: inline-block;
  width: 74%;
}

.input-bar-submit {
  postion: relative;
  display: inline-block;
  width: 24%;
}

.amount-box {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 20px;
  margin: 8px 0;
}

.amount-box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.amount-box ul li {
  display: inline-block;
}

select {
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
  outline: none;
}

.start-over {
  margin-top: 10px;
}

@media (max-width: 1142px) {
  .container {
    width: 40%;
  }
}

@media (max-width: 862px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 692px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 580px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 440px) {
  .container {
    width: 95%;
  }
}